# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/
.env/

# Packaging
build/
dist/
*.egg-info/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
